body {
  margin: 0px;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
/* * div, section{
  border: 1px solid red;
} */
#about-us {
  border: 1px solid #00000029;
  height: 100vh;
}
#header {
  display: flex;
  flex-direction: column;
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 32px;
}
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  column-gap: 20px;
}
nav {
  display: flex;
  flex-direction: column;

  row-gap: 10px;
  text-align: left;
  font: normal normal 300 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
}
.title {
  display: flex;
  align-items: center;
  text-align: left;
  font: normal normal bold 18px/22px Helvetica;
  letter-spacing: 0px;
  color: #354463;
}
.donate-today,
.read-more-btn {
  border: none;
  padding: 10px;
  margin: 15px 0px;
  background: #c1f7d5 0% 0% no-repeat padding-box;
  border-radius: 100px;
  font: normal normal bold 18px/22px Helvetica;
}
#the-issue {
  background: url("./assets/about-us/annie-spratt-427339-unsplash@2x.png") 0% 0%
    no-repeat padding-box;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  row-gap: 120px;
}
.hash-tag {
  padding: 32px;
  width: 50%;
  text-align: left;
  font-size: 46px;
  line-height: 1.2;
  font-family: flood-std, sans-serif;
  color: #ffffff;
}
.issue-card {
  margin: 0px 32px 32px 32px;
  background: #ffffff 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-card {
  padding: 10px 40px;
  translate: 0px -50%;
  background-color: #354463;
  color: #ffffff;
  text-transform: uppercase;
}
.issue-info {
  text-align: center;
  margin: 0px 20px 20px 20px;
  padding: 0px 32px;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #354463;
}
#mission-values {
  background-color: #354463;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  row-gap: 25px;
}
.title-mission-values {
  padding: 10px 15px;
  background-color: #ffffff;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.56px;
  color: #354463;
}
.mission {
  text-align: center;
  color: #ffffff;
  font-size: 22px;
  line-height: 28px;
  font-weight: bold;
  padding: 10px;
}
.values {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px 0px;
  row-gap: 50px;
}
.value {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 5px;
}
.value-logo {
  background-repeat: no-repeat;
  background-size: contain;
  height: 6vh;
  width: 100%;
}
.value-image1 {
  background-image: url("./assets/about-us/Icon\ book.png");
}
.value-image2 {
  background-image: url("./assets/about-us/Icon\ earth.png");
}
.value-image3 {
  background-image: url("./assets/about-us/Icon\ flower.png");
}
.value-image4 {
  background-image: url("./assets/about-us/Icon\ hand.png");
}
.value-image5 {
  background-image: url("./assets/about-us/Icon\ heart.png");
}
.value-image6 {
  background-image: url("./assets/about-us/Icon\ people.png");
}
.value-image7 {
  background-image: url("./assets/about-us/Icon\ person.png");
}
.value-image8 {
  background-image: url("./assets/about-us/Icon\ sun.png");
}
.value-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  width: 100%;
}
.value-info {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  width: 100%;
}
#team {
  display: flex;
  flex-direction: column;
  margin: 32px;
  row-gap: 32px;
}
.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
}
.team-title-card {
  padding: 10px 45px;
  align-self: center;
  width: fit-content;
  background-color: #354463;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.56px;
  color: #ffffff;
}
.team-title {
  text-align: center;
  letter-spacing: 0px;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #354463;
}
.team-info {
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: -0.14px;
  color: #354463;
}
.persons {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  row-gap: 50px;
  column-gap: 8%;
}
.person {
  display: flex;
  flex-direction: column;
  width: 46%;
}
.team-images {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 20vh;
}
.team-image1 {
  background-image: url("./assets/about-us/Screen-Shot-2018-10-04-at-9.35.07-PM.png");
}
.team-image2 {
  background-image: url("./assets/about-us/Screen-Shot-2018-10-04-at-9.35.17-PM.png");
}
.team-image3 {
  background-image: url("./assets/about-us/Screen-Shot-2018-10-04-at-9.35.37-PM.png");
}
.team-image4 {
  background-image: url("./assets/about-us/Screen-Shot-2018-10-04-at-9.36.04-PM.png");
}
.team-image5 {
  background-image: url("./assets/about-us/Screen-Shot-2018-10-04-at-9.36.19-PM.png");
}
.team-image6 {
  background-image: url("./assets/about-us/Screen-Shot-2018-10-04-at-9.37.13-PM.png");
}
.person-title {
  background: #354463;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: -0.14px;
  color: #ffffff;
  padding: 10px;
}
#impact {
  background-image: url("./assets/about-us/ian-macharia-509884-unsplash.png");
  background-size: cover;
  background-color: #354463;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.impact-title-card {
  padding: 10px 40px;
  background-color: #ffffff;
  color: #354463;
  text-transform: uppercase;
  margin-top: 32px;
}
.impact-info {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 0px;
  color: #ffffff;
  margin-top: 32px;
}
.impacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0px;
  /* width: 50%; */
  row-gap: 32px;
}
.imapct-way {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.impact-number {
  text-align: center;
  font-size: 44px;
  line-height: 46px;
  font-family: flood-std, sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
}
.impact-way-info {
  text-align: center;
  letter-spacing: 0px;
  color: #ffffff;
}
#action {
  background-color: #354463;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}
.action-title {
  text-align: center;
  font-size: 44px;
  line-height: 46px;
  font-family: flood-std, sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
}
.actions {
  display: flex;
}
.action-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  row-gap: 32px;
}
.duplicate {
  display: none;
}
.action-image {
  background-image: url("./assets/about-us/Image.png");
  background-position: center center;
  padding: 100px 0px;
  width: 100%;

  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.action-year {
  padding: 15px 60px;
  background-color: #ffffff;
  translate: 0 -130px;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  line-height: 17px;
  letter-spacing: 0.56px;
  color: #354463;
}
.forward {
  border-radius: 50%;
  max-width: 20%;
  padding: 15px;
  align-self: flex-end;
  translate: 50% 350%;
  background-color: #c1f7d5;
}
.image-title {
  text-align: center;
  font-size: 22px;
  line-height: 28px;
  font-weight: bold;
  color: #354463;
}
.image-info {
  text-align: center;
  color: #354463;
  font-size: 18px;
  line-height: 1.5;
  padding: 0 20px;
}
.action-card button {
  padding: 15px 30px;
}
.circles {
  display: flex;
  column-gap: 5px;
}
.circle button {
  padding: 8px 8px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #ffffff;
}
.active button {
  background-color: #354463;
}
#subscribe {
  background-color: #c1f7d5;
  display: flex;
  flex-direction: column;
}
.info {
  text-align: left;
  font-size: 22px;
  line-height: 28px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #354463;

  padding: 32px;
}
.subscribe-form {
  display: flex;
  gap: 10px;
  padding: 0px 32px 32px 32px;
}
#email {
  padding: 10px;
  border-radius: 100px;
  font-size: 14px;
  line-height: 19px;
  width: 60%;
  border: none;
}
#button {
  background-color: #354463;
  color: #c1f7d5;
  font-size: 18px;
  line-height: 19px;
  font-weight: bold;
  border-radius: 100px;
  padding: 10px;
  border: none;
  width: 40%;
}
#footer {
  display: flex;
  flex-wrap: wrap;
  padding: 32px;
  width: 100%;

  margin: 60px 0px;
  row-gap: 60px;
}
.contact {
  width: 50%;
}
ul {
  margin-top: 10px;
}
li a {
  color: black;
}
li {
  padding: 5px;
}
.follow-us {
  width: 50%;
}
.learn-more {
  width: 50%;
}
.footer-tag {
  color: black;
  text-align: right;
  font-size: 46px;
  line-height: 1.2;
  font-family: flood-std, sans-serif;
}
@media (min-width: 421px) and (max-width: 910px) {
  #header {
    display: flex;
    flex-direction: row;
    padding: 64px;
  }
  header {
    display: flex;
    flex-direction: column;

    width: 70%;
  }
  nav {
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    padding-top: 10px;
  }
  .title {
    font-size: 22px;
    line-height: 28px;
    width: 50%;
  }
  .donate-today {
    width: 40%;
  }
  .hash-tag {
    padding: 64px;
  }
  .issue-card {
    margin-left: 64px;
  }
  .title-card {
    align-self: flex-start;
    translate: 50% -50%;
  }
  .issue-info {
    font-size: 28px;
    line-height: 36px;
  }
  #mission-values {
    padding: 64px;
    align-items: flex-start;
  }
  .mission {
    text-align: start;
    font-size: 28px;
    line-height: 36px;
  }
  .values {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }
  .value {
    width: 100%;
  }
  #team {
    margin: 0px;
    padding: 64px;
  }
  .team-title-card {
    align-self: flex-start;
  }
  .team-card {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    width: 100%;
  }
  .team-title,
  .team-info {
    width: 50%;
    text-align: start;
  }
  .team-images {
    height: 25vh;
  }
  .team-info {
    padding-left: 20px;
  }
  .team-title,
  .impact-info {
    font-size: 36px;
    line-height: 46px;
  }
  .impact-info {
    padding: 64px;
  }
  #impact {
    padding: 0px 160px;
  }
  .impacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    padding: 64px 0px;
  }
  .impact-number {
    font-size: 72px;
    line-height: 78px;
  }
  .impact-way-info {
    font-size: 22px;
    line-height: 28px;
  }
  .info {
    padding: 64px 64px;
  }
  #action{
    padding: 20px 64px;
    align-items: flex-start;
    overflow: hidden;
  }
  .actions {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    width: 140%;
  }
  .action-card{
    width: 40%;
  }
  .duplicate{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    row-gap: 32px;
  }
  .forward{
    translate: 0 -80%;
  }
  .circles {
    display: none;
  }
  .subscribe-form {
    padding: 0px 64px 64px 64px;
  }
  #email {
    padding: 10px 100px 10px 10px;
    width: 75%;
  }
  #footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 911px) {
  #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 160px;
  }
  header {
    display: flex;
    flex-direction: row;

    width: 70%;
  }
  nav {
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    padding-top: 10px;
    flex: 2;
    align-items: center;
  }
  .title {
    flex: 1;
    font-size: 22px;
    line-height: 28px;
  }
  #the-issue {
    background-image: url("./assets/about-us/Screenshot\ from\ 2023-01-09\ 17-00-14.png");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 160px 0px 160px;
  }
  .hash-tag {
    padding: 0px;
    width: 50%;
  }
  .issue-card {
    align-items: flex-start;

    width: 50%;
    margin-top: 25%;
    translate: 0 30%;
  }
  .title-card {
    translate: 50% -50%;
  }
  .issue-info {
    margin: 0px;
    text-align: start;
    padding: 32px;
  }
  #mission-values {
    padding: 160px;
    align-items: flex-start;
  }
  .mission {
    text-align: start;
    font-size: 28px;
    line-height: 36px;
  }
  .values {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }
  .value {
    width: 100%;
  }
  #team {
    margin: 0px;
    padding: 160px;
  }
  .team-title-card {
    align-self: flex-start;
  }
  .team-card {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    width: 100%;
  }
  .team-title,
  .team-info {
    width: 50%;
    text-align: start;
  }
  .team-info {
    padding-left: 20px;
  }
  .team-title,
  .impact-info {
    font-size: 36px;
    line-height: 46px;
  }
  .persons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .person {
    width: 100%;
  }
  .team-images {
    height: 45vh;
  }
  .person-title {
    translate: 10% -50%;
  }
  #impact {
    padding: 0px 160px;
    background-image: url("./assets/about-us/ian-macharia-509884-unsplash.png");
  }
  .impacts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    padding: 64px 0px;
  }
  .impact-number{
    padding: 10px 0px;
  }
  #subscribe {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 160px;
  }
  .info {
    padding: 0px;
    flex: 1;
  }
  #action{
    padding: 20px 160px;
    align-items: flex-start;
    overflow: hidden;
  }
  .actions {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    width: 160%;
  }
  .duplicate{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    row-gap: 32px;
  }
  .forward{
    translate: -100% -100%;
  }
  .circles {
    display: none;
  }
  .subscribe-form {
    flex: 1;
  }
  #email,
  #button {
    margin: 20px 0px;
  }
  #footer {
    padding: 20px 160px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
  }
  .empty-cell {
    display: none;
  }
  .contact,
  .follow-us,
  .learn-more {
    width: 100%;
  }
  h3 {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    width: 60%;
  }
}
